.user{
    background-image: linear-gradient(to right, #240035, #670979 40%, #1b80d0 100%);
    background-size: cover;
    background-position: center;
}

.admin{
    background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background-size: cover;
    background-position: center;
}

.delete{
    text-decoration: none;
    color: white;
}

.delete:hover{
    text-decoration: none;
    color: white;
}

#home {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1593305841991-05c297ba4575?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=953&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.home-cover-container{
    max-width: 60vw;
}

.home-nav-link{
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
    text-decoration: none;
}

.home-nav-link:hover{
    color: rgba(255, 255, 255, 0.8);
    border-bottom-color:rgba(255, 255, 255, 0.5);
}

.home-nav-link.active{
    color: white;
    border-bottom-color: white;
}

.home-btn-secondary, .home-btn-secondary:hover{
    color: #333;
    text-shadow: none
}

.card-link{
    text-decoration: none;
    color: black;
}


.card-link:hover{
    text-decoration: none;
    color: black;
}

.game-card{
    position: relative;
    border-radius: 5px;
}

.game-card:hover{
    border: 2px solid black;
}

.game-grade{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card-title{
    font-size: 12px;
}

.img-game{
    height: 300px;
}

.search-game{
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
}

.search-game::placeholder{
    color: #7378c5;
}

.search-game:focus{
    outline: none;
    background-color: #22254b;
}